<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <title>Register Page</title>
</head>

<body>
  <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <h3 class="text-center">New Account</h3>
      <form class="form-group text-center" action="/register" method="POST">
        <div class="d-flex flex-column align-items-center">
          <input class="form-control" type="email" name="email" placeholder="yourEmail@email.com"
            style="width: 300px; margin: 1em" required />
          <input class="form-control" type="password" name="password" placeholder="password"
            style="width: 300px; margin: 1em" required />
          <button type="submit" class="btn btn-outline-dark">Create Account</button>
        </div>
      </form>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>

<!-- form with email,password field -->
<!-- shut off  auto save -->
<!-- type: email -->
<!-- name = email -->
<!-- type = password -->
<!-- name = password -->
<!-- POST to /regester -->

<!-- in express server make GET /register end point to this template -->